In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [13]:
s= Series([1,2,3,4,5,6],index =['a','b','c','d','e','f'])

In [14]:
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [15]:
s.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [16]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [19]:
s['f']

6

In [26]:
date = pd.date_range('2018-09-01','2018-11-01')

In [27]:
date

DatetimeIndex(['2018-09-01', '2018-09-02', '2018-09-03', '2018-09-04',
               '2018-09-05', '2018-09-06', '2018-09-07', '2018-09-08',
               '2018-09-09', '2018-09-10', '2018-09-11', '2018-09-12',
               '2018-09-13', '2018-09-14', '2018-09-15', '2018-09-16',
               '2018-09-17', '2018-09-18', '2018-09-19', '2018-09-20',
               '2018-09-21', '2018-09-22', '2018-09-23', '2018-09-24',
               '2018-09-25', '2018-09-26', '2018-09-27', '2018-09-28',
               '2018-09-29', '2018-09-30', '2018-10-01', '2018-10-02',
               '2018-10-03', '2018-10-04', '2018-10-05', '2018-10-06',
               '2018-10-07', '2018-10-08', '2018-10-09', '2018-10-10',
               '2018-10-11', '2018-10-12', '2018-10-13', '2018-10-14',
               '2018-10-15', '2018-10-16', '2018-10-17', '2018-10-18',
               '2018-10-19', '2018-10-20', '2018-10-21', '2018-10-22',
               '2018-10-23', '2018-10-24', '2018-10-25', '2018-10-26',
               '2018-10-27', '2018-10-28', '2018-10-29', '2018-10-30',
               '2018-10-31', '2018-11-01'],
              dtype='datetime64[ns]', freq='D')

In [31]:
b2 =Series(date.values, index = date)

In [32]:
b2

2018-09-01   2018-09-01
2018-09-02   2018-09-02
2018-09-03   2018-09-03
2018-09-04   2018-09-04
2018-09-05   2018-09-05
2018-09-06   2018-09-06
2018-09-07   2018-09-07
2018-09-08   2018-09-08
2018-09-09   2018-09-09
2018-09-10   2018-09-10
2018-09-11   2018-09-11
2018-09-12   2018-09-12
2018-09-13   2018-09-13
2018-09-14   2018-09-14
2018-09-15   2018-09-15
2018-09-16   2018-09-16
2018-09-17   2018-09-17
2018-09-18   2018-09-18
2018-09-19   2018-09-19
2018-09-20   2018-09-20
2018-09-21   2018-09-21
2018-09-22   2018-09-22
2018-09-23   2018-09-23
2018-09-24   2018-09-24
2018-09-25   2018-09-25
2018-09-26   2018-09-26
2018-09-27   2018-09-27
2018-09-28   2018-09-28
2018-09-29   2018-09-29
2018-09-30   2018-09-30
                ...
2018-10-03   2018-10-03
2018-10-04   2018-10-04
2018-10-05   2018-10-05
2018-10-06   2018-10-06
2018-10-07   2018-10-07
2018-10-08   2018-10-08
2018-10-09   2018-10-09
2018-10-10   2018-10-10
2018-10-11   2018-10-11
2018-10-12   2018-10-12
2018-10-13   2018-10-13
2018-10-14   2018-10-14
2018-10-15   2018-10-15
2018-10-16   2018-10-16
2018-10-17   2018-10-17
2018-10-18   2018-10-18
2018-10-19   2018-10-19
2018-10-20   2018-10-20
2018-10-21   2018-10-21
2018-10-22   2018-10-22
2018-10-23   2018-10-23
2018-10-24   2018-10-24
2018-10-25   2018-10-25
2018-10-26   2018-10-26
2018-10-27   2018-10-27
2018-10-28   2018-10-28
2018-10-29   2018-10-29
2018-10-30   2018-10-30
2018-10-31   2018-10-31
2018-11-01   2018-11-01
Freq: D, Length: 62, dtype: datetime64[ns]

In [33]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],        'year': [2000, 2001, 2002, 2001, 2002, 2003],        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [34]:
frame = pd.DataFrame(data)

In [36]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2