In [3]:
if 2+2 != 4:
    
    print("True")
print("false")

false

In [7]:
species= "cat"

In [8]:
if species == "cat":  
    print("Yep, it's cat.") 
else: 
    print("Nope, not cat.")

Yep, it's cat.

In [9]:
per = 74

In [11]:
if per > 80 and per < 100:
    print("A+")
elif per >= 70 and per <80:
    print("A")
elif per >= 60 and per < 70:
    print("B")

A

In [16]:
student_001={
    "name": "Ali",
    "fname": "Ahmed",
     "address": "4803 Wellesley St.",
    "salary": 5000
}

In [18]:
student_001["salary"]=4000

In [19]:
student_001["salary"]

4000

In [20]:
for i in list(range(1,5)):
    print(i)

1
2
3
4

In [21]:
for i in list(range(1,15,2)):
    print(i)

1
3
5
7
9
11
13

In [22]:
a = [1 ,3, 4 ,5] * 3

In [23]:
print(a)

[1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5]

In [25]:
for x in student_001.keys():
    print(x)

name
fname
address
salary

In [26]:
for x in student_001.values():
    print(x)

Ali
Ahmed
4803 Wellesley St.
4000

In [27]:
for x,y in student_001.items():
    print(x,y)

name Ali
fname Ahmed
address 4803 Wellesley St.
salary 4000

In [2]:
customer_2006 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}

In [5]:
print(customer_2006["address"])

4803 Wellesley St.

In [6]:
customer_2006["address"] = "128 banglaore town"

In [7]:
print(customer_2006["address"])

128 banglaore town